In [3]:
import numpy as np
import pandas as pd

In [1]:
pwd # current location of my notebook

'D:\\my_github\\Re-Learn_Data_Science\\Goal-2 [Pandas]'

In [5]:
df=pd.read_csv('example.csv') # make sure csv file is in the same folder as your notebook
df                           # if not then enter the full path of the file

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [6]:
# if you have done some operation in you data and want to store it you can also do  that

newdf=df[['a','b']]
newdf

    a   b
0   0   1
1   4   5
2   8   9
3  12  13

### The "to_csv()" method
    In Pandas is used to export a DataFrame or Series to a CSV (Comma-Separated Values) file. This is a common way to save data to a file for later use or for sharing with others.
    
    DataFrame.to_csv(path_or_buf=None, sep=',', na_rep='', columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, line_terminator=None, chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.')

In [10]:
newdf.to_csv('new_df.csv',index=False) # you will se a new file in you directory
                                       # index = False will not save index in the new csv file

In [11]:
pd.read_csv("new_df.csv") # as you can see we are able to read the csv file from our directory

    a   b
0   0   1
1   4   5
2   8   9
3  12  13

In [16]:
excel=pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')
excel

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [18]:
excel.drop('Unnamed: 0',axis=1) # drop the columns

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15