# Practice Pandas
    There are ton of ways to do that so if you have any other way of doing that you can go ahead and continue that and if   not then i found this website very helpful 
```bash
https://www.machinelearningplus.com/python/101-pandas-exercises-python/
```

Note: Each cell will be the answer to the question from the above mentioned link

In [1]:
# Ques 1. How to import pandas and check the version?
import pandas as pd
pd.__version__

'1.3.5'

In [25]:
# Ques 2. How to create a series from a list, numpy array and dict?

import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict=dict(zip(mylist,myarr))
print(mydict)
s1=pd.Series(mylist)
s2=pd.Series(myarr)
s3=pd.Series(mydict)
print(s3.head())

{'a': 0, 'b': 1, 'c': 2, 'e': 3, 'd': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}
a    0
b    1
c    2
e    3
d    4
dtype: int32

In [26]:
# Ques 3. How to convert the index of a series into a column of a dataframe
# In s3 [a,b,c,d....] were the named index
data = s3.to_frame().reset_index()
data.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [43]:
# Ques 4. How to combine many series to form a dataframe?
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(25))

#method 1 -> Directly concatenate series
new = pd.concat([ser1,ser2],axis=1) 

# Method 2 -> create a dictionary and the convert that to a DataFrame
new2 = pd.DataFrame({'col1':ser1,'col2':ser2})


print(new.head())
new2.head()

   0    1
0  a  0.0
1  b  1.0
2  c  2.0
3  e  3.0
4  d  4.0

  col1  col2
0    a   0.0
1    b   1.0
2    c   2.0
3    e   3.0
4    d   4.0

In [53]:
# Ques 5. How to assign name to the seriesâ€™ index?
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name= 'alphabtes'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabtes, dtype: object

### The isin() method
    In Pandas is used to filter data by checking if values in a Series or DataFrame are contained in a specified list or another Series. It returns a boolean Series or DataFrame indicating whether each element is contained in the provided values.
    
    Syntax
        - Series.isin(values)
        - DataFrame.isin(values)

In [60]:
#Ques 6. How to get the items of series A not present in series B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [68]:
# Ques 7. How to get the items not common to both series A and series B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
union = pd.Series(np.union1d(ser1,ser2)) # union of ser1 and ser2
intersect = pd.Series(np.intersect1d(ser1,ser2)) # intersection of ser1 and ser2
union[~union.isin(intersect)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [79]:
# Ques 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
np.random.seed(101)
ser = pd.Series(np.random.normal(10, 5, 25))
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([-0.09084122,  7.05499733, 12.51912877, 13.70061029, 23.5342492 ])